{% extends 'base.html.twig' %}

{% block title %}
  Tous les articles
{% endblock %}

{% block body %}
  {% for article in articles %}
    <div>
      <a href="{{ path('article_item', { id: article.id }) }}">{{ article.title }}</a>
    </div>
  {% else %}
    <p>Aucun article trouvé</p>
  {% endfor %}
{% endblock %}
